/* 
COLORS AND FONT STYLES

font used
Roboto

dark background color (hero and footer)
#1F2937

Hero Main text ("this website is awesome")
48 PX #F9FAF8 weight: 900

Hero Secondary text, Header Link Text
18px #E5E7EB

Header Logo Text
24px #F9FAF8

Button color, call to action background color
#3882F6

information header text
36px #1F2937 weight: 900

Quote section background color
#E5E7EB

Quote text
36px light italic #1F2937

*/

body {
    font-family: 'Roboto', sans-serif;
    border: 0;
    min-width: 700px;
}

.header, .footer {
    background-color: #1F2937;
    padding: 0 150px;
    /* margin: 0 150px; */
}

.header-top, .header-bottom {
    display: flex;
    justify-content: space-between;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}

.header-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 300px;
}

.header-description-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-description-text {
    max-width: 400px;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    color: white;
    background-color: #3882F6;
    padding: 4px 20px;
    border-radius: 10px;
}

.header-image {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300;
    padding: 40px 80px;
    background-color: grey;
    color: white;
}

.information-header {
    display: flex;
    justify-content: center;
    padding: 36px 0;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;;
}

.information-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    padding-bottom: 100px;
    /* padding: 0 100px 50px 50px; */
}

.information-image-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.information-image {
    max-width: 75px;
    max-height: 75px;
    border-style: solid;
    border-width: 3px;
    border-color: #3882F6;
    padding: 75px;
    border-radius: 10px;
}

.information-text {
    max-width: 150px;
    text-align: center;
}


.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 75px 100px;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    align-self: center;
    max-width: 900px;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    font-weight: bolder;
    font-size: 24px;
}