/* 
COLORS AND FONT STYLES

font used
Roboto

dark background color (hero and footer)
#1F2937

Hero Main text ("this website is awesome")
48 PX #F9FAF8 weight: 900

Hero Secondary text, Header Link Text
18px #E5E7EB

Header Logo Text
24px #F9FAF8

Button color, call to action background color
#3882F6

information header text
36px #1F2937 weight: 900

Quote section background color
#E5E7EB

Quote text
36px light italic #1F2937

*/

body {
    font-family: 'Roboto', sans-serif;
}

.header, .footer {
    background-color: #1f2937;
    color: white;
}

.header {
    /* display: flex;    */
}

.header-top {
    display: flex;
    justify-content: space-around;
}

.header-bottom {
    display: flex;
    justify-content: space-around;
}


.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 75px 100px;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    align-self: center;
    max-width: 900px;

}

.quote-author {
    display: flex;
    justify-content: flex-end;
    font-weight: bolder;
    font-size: 24px;
}